				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>Recommendations from <a href="https://nextdoor.com/pages/foley-stoneworks-newbury-ma/">Nextdoor</a></h2>
                        <div class="index align-left">

                            <!-- Blockquote -->
                                <section>
                                    <header>
                                        <h3>J.S.</h3>
                                        <h4>Haverhill, MA</h4>
                                    </header>
                                    <div class="content">

                                        <blockquote>Chris, of Foley Stoneworks, is knowledgeable and does a great job.  We contacted him with some repair work that was desperately needed.  He was very responsive and was a pleasure to work with. It was clear that he takes great pride in his craft and I would recommend him.  Thumbs up Chris, thanks again!!</blockquote>

                                    </div>
                                </section>
                            
                            <!-- Blockquote -->
                                <section>
                                    <header>
                                        <h3>P.M.</h3>
                                        <h4>Newburyport, MA</h4>
                                    </header>
                                    <div class="content">

                                        <blockquote>Chris did a wonderful job repairing my old precast concrete steps. He prepared a secure footing and resurfaced my steps with granite treads and New England fieldstone on the sides and risers. He is an experienced mason who takes pride in the quality of his work and he is extremely attentive and communicates promptly. I am happy to recommend Chris.</blockquote>

                                    </div>
                                </section>

                            <!-- Blockquote -->
                                <section>
                                    <header>
                                        <h3>E.C.</h3>
                                        <h4>Newbury, MA</h4>
                                    </header>
                                    <div class="content">

                                        <blockquote>Great guy, professional, friendly, thorough, clean and neat from start to finish!  We will hire again!</blockquote>

                                    </div>
                                </section>

                            <!-- Blockquote -->
                                <section>
                                    <header>
                                        <h3>D.D.</h3>
                                        <h4>Newburyport, MA</h4>
                                    </header>
                                    <div class="content">

                                        <blockquote>I'm delighted to have found CHRIS FOLEY, Mason from Rowley Area - and so happy that I followed through with making that first call.  HIS WORK IS INCREDIBLY AMAZING !!!!  Not only is he meticulous and far beyond creative, Chris Foley is an artist, and with all the attributes that I mentioned above. He has it all and I can't say enough about him . Simply put, "the best of the best!"  . . . and, so very humble. If you're looking for someone exceptional, I hope you get the chance to work with Chris.</blockquote>

                                    </div>
                                </section>


                        </div>


                    </div>
                </section>
